@import url("../style/header.css");
@import url("../style/modal.css");
@import url("../style/first_section.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --white: #ffffff;
  --light: #e5e5e5;
  --button: #00aeff;
  /* --button: #3ec2ff; */
}

body,
button,
textarea,
input {
  font-family: "Poppins", sans-serif;
}

a {
  color: #00aeff;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}
