.app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: auto;
}

.main {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  image-rendering: crisp-edges;

  height: 100vh;
  transition: all 1s;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30%;
  border-bottom: 2px solid var(--button);
}

#header.blueish-bg {
  background-color: #030406;
}

.app header {
  width: 100%;
  height: 96px;

  padding: 0px 170px;

  background: transparent;

  border-bottom: 2px solid rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  transition: all 0.3s ease-in 0s;
}

.header_logo {
  position: relative;
}

.header_logo::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 68px;
  height: 2px;
  width: 43px;
  border-bottom: 2px solid var(--button);
}

.app header ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: auto;

  list-style: none;
  font-weight: 500;
  font-size: 14px;

  cursor: pointer;
  color: var(--white);
}

.app header li {
  display: flex;
  align-items: center;
  transition: all 0.4s;
}

.app header ul li:hover {
  opacity: 0.8;
}

.app header li:first-child i {
  padding-top: 2px;
  margin-left: 0.7rem;
}

.app header li:nth-child(2) i {
  padding-top: 2px;
  margin-left: 0.7rem;
}

.fa-chevron-down {
  color: var(--white);
  opacity: 0.6;
}

.fa-chevron-up {
  color: var(--button);
  opacity: 1;
}

.login_buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.login_buttons button {
  color: var(--white);
  font-size: 14px;
  width: 112px;
  height: 41px;
  border-radius: 3.15385px;
}

#signup_button {
  background: transparent;

  margin-right: 0.8rem;

  border: 0.788462px solid #ffffff;
  transition: ease 0.8s;
}

#signup_button:hover {
  background: var(--white);
  color: #000;
}

#login_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button);
  transition: ease 0.8s;
}

#login_button:hover {
  background: #4dc7ff;
}

#login_button::after {
  content: "Logar";
}

#login_button img {
  padding-right: 5px;
}

@media (max-width: 1441px) {
  .app header {
    padding: 0 130px;
  }

  .button_menu {
    display: none;
  }
}

@media (max-width: 1025px) {
  .app header {
    padding: 0 50px;
  }

  .button_menu {
    display: none;
  }
}

@media (max-width: 769px) {
  .main::before {
    width: 40%;
  }

  header ul {
    display: none !important;
  }

  .mobile_menu {
    margin-left: 6rem;
  }

  .button_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;

    width: 55px;
    z-index: 2;

    background: transparent;
  }

  .button_menu span {
    width: 60%;
    height: 2px;

    border-radius: 6px;

    display: block;
    background: var(--white);

    transition: all 0.6s;
  }
}

@media (max-width: 426px) {
  .main header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }

  .main::before {
    width: 60%;
  }

  .login_buttons {
    display: none;
  }
}
